@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Explore our world your way</h1>
            <a href="/tours.htm" title="Find your tour!"><h2>Find your tour</h2></a>